# python

### level 01
- variables 
- input output
- operators
- datatypes 

### level 02

- conditions 
- loops 
- functions

### level 03
- string 
- list
- functions
- set and tuble

In [1]:
age = 10
is_married = False
name = 'bob'
value = 1.323

In [2]:
x = 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [3]:
x = 10 ** 500
print(x)

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [4]:
x = 1.10
y = 1.0
z = -35.56
z = 87.7e100

In [5]:
name = "bruce wayne 01"
color = 'yellow'
Institute = 'digipodium'

In [7]:
is_coding = True
is_fun = True
are_u_bored = False

In [8]:
x = None

In [9]:
a = [5,10,15,20,25,30,35]
vals = [1,2.2,'python']
colors = ['red','green','yellow']

In [10]:
x = 10
y = 3

In [11]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x
)

13
7
30
3.3333333333333335
3
1
10

In [12]:
(3+2) * (5*3) / (3*5)

5.0

In [13]:
a = 100
a += 15
a -= 10

In [15]:
a *= 10
a %= 5
print (a)

0

In [17]:
print (x > y)
print (x < y)
print (x == 100)
print (x != 30)
print (x >= 50)
print (x <= 20)
print ('hello'== 'hellow')
print ()

True
False
False
True
False
True

In [1]:
a = 15
b = 10

In [3]:
a > 10 and b > a

False

In [4]:
a < 10 or b > 10

False

In [5]:
bool (0)

False

In [7]:
name = input("enter name :")
bool(name)

True

In [8]:
not a

False

membership operator 'in' and 'not in'

In [9]:
x = [3,56,67,89,23,67,21,278,231,212,213]

In [10]:
10 in x

False

In [11]:
67 in x

True

In [12]:
20 not in x

True

In [13]:
3 in x

True

user input 'input(prompt)' => 'string'

convert -> convert one data type to another

In [15]:
int(10.11)

10

In [17]:
int(True)

1

In [18]:
str(10.12)

'10.12'

back to input function

In [19]:
name = input("enter ur name")
phone = input("enter ur contact:")
age = int(input ('enter ur age'))

#wap to calc simple interest#

In [20]:
p = int(input('PRINCIPLE AMT'))
r = float(input('RATE OF INTEREST'))
t = int(input('TIME IN YEARS'))
si = p*r*t/100
print(si)

500.0

wap to calc  circumference of circle using diameter as input

In [22]:
d = int(input('enter dia'))
r = (d/2)
pie = 22/7
circum = pie*d
print (circum)

6.285714285714286

displaying information to user

In [23]:
y = input('your name')
x = int(input('how many badges'))
print(f'{y} got {x} badges')

shahid got 10 badges