In [43]:
for num in range(2,12):
    print('sheep',num)

In [4]:
for i in range(12):
    print("yu got it",i)

yu got it 0
yu got it 1
yu got it 2
yu got it 3
yu got it 4
yu got it 5
yu got it 6
yu got it 7
yu got it 8
yu got it 9
yu got it 10
yu got it 11

In [5]:
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [9]:
for i in range(10):
    print(i*'na')

na
nana
nanana
nananana
nanananana
nananananana
nanananananana
nananananananana
nanananananananana

In [10]:
x=1
while x<5:
    print('run')
    x +=1
print('stop')

run
run
run
run
stop

In [5]:
fruits = [12,56]
for i in fruits:
    print ('we have',i)
else:
    print('thats all')

we have 12
we have 56
thats all

In [2]:
print(type("fruits"))

<class 'str'>

In [1]:
a= ("my name is shahid")
print(a)

my name is shahid

In [6]:
a = ("enter any number \nwhat you\n want")
print(a)

enter any number
what you
 want

In [16]:
a = input("name")
print("good\nmorning",a)

good
morning shahid

In [27]:
a = input('enter your name')
b = input ('date')
print(a)
print('\nyou are selected! \n')
print(b)

shahid ali ansari

you are selected!

2 march 2023

In [29]:
a=[1,2,3,6,5,6,]

In [41]:
a[0]='shahid'
print(a[0],a[2])
print(a[::2])

shahid 3
['shahid', 3, 5]

In [42]:
c=[45,'shahid',0.236,False]

In [43]:
c[1
]

'shahid'

In [25]:
a= 'shahid'
a[0:5]

'shahi'

In [36]:
#tuple
t = (1,2,3,6,6,58,5,2,56,2,5)
print(t.count(2))

3

In [12]:
a=input("enter 1 fruit")
b=input("enter 2 fruit")
c=input("enter 3 fruit")
d=input("enter 4 fruit")
e=input("enter 5 fruit")
fruit_list=[a,b,c,d,e]
print(fruit_list)

['manngo', 'lichi', 'apple', 'banana', 'guvava']

In [6]:
a = (2,36,85,6,2,6,2,62,6,26,6,6,6,262,6)
print(a.index(6))

3

In [19]:

a= int(input("number1"))
b= int(input("number2"))
c= int(input("number3"))
d=int(input("number4"))
e= int(input("number5"))
h=[a,b,c,d,e]
h.sort()
print(h)

[9, 10, 23, 45, 56]

In [22]:
a =[10,25,65,45,4]
a[2]=23

In [23]:
[print(a)

[10, 25, 23, 45, 4]

In [26]:
a=[2,5,6,9,5]
print(a[0]+a[4])
sum(a)

7

27

In [28]:
a=(0,2,5,2,0,5,6,0,4,0,5,0,6,0,6,0,6,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,)
a.count(0)

30

In [38]:
p={"boy":"ladka"}
print(p['boy'])

ladka

In [9]:
print("\npython \nis \neverywhere")

python
is
everywhere

In [14]:
a={"name":"shahid",
   "from":"india",
   "marks": [60,65,45]}

In [3]:
print(type(a))

<class 'dict'>

In [17]:
a['name']='harry'

In [26]:
for k in a:
    print(a)

{'name': 'harry', 'from': 'india', 'marks': [60, 65, 45]}
{'name': 'harry', 'from': 'india', 'marks': [60, 65, 45]}
{'name': 'harry', 'from': 'india', 'marks': [60, 65, 45]}

In [25]:
print(a.values())

dict_values(['harry', 'india', [60, 65, 45]])

In [27]:
a['city']='lko'

In [28]:
print(a)

{'name': 'harry', 'from': 'india', 'marks': [60, 65, 45], 'city': 'lko'}

In [30]:
d={'school':'lps'}
a.update(d)

In [31]:
print(a)

{'name': 'harry', 'from': 'india', 'marks': [60, 65, 45], 'city': 'lko', 'school': 'lps'}

In [52]:
set={1,5,3,6,9,5,89,65,65,45}
print(set.remove(9))

None

In [53]:
print(set)

{65, 1, 3, 5, 6, 45, 89}

In [1]:
s = {20,20.0,"20"}
print(len(s))

2

In [55]:
ab={1,2,3,5}
bc={6,7,8,9}

TypeError: unhashable type: 'set'

In [2]:
s={}

In [4]:
print(type(s))

<class 'dict'>

In [7]:
fav_lang={}
a=('enter your fav lang raam\n')
b=('enter your fav lang shyam\n')
c=('enter your fav lang sohan\n')
d=('enter your fav lang rohan\n')
fav_lang['raam']=a
fav_lang['shyam']=b
fav_lang['sohan']=c
fav_lang['rohan']=d
print(fav_lang)

{'raam': 'enter your fav lang raam\n', 'shyam': 'enter your fav lang shyam\n', 'sohan': 'enter your fav lang sohan\n', 'rohan': 'enter your fav lang rohan\n'}

In [22]:
a=35
if (a>36):
    print("good")
elif(a!=35):
    print("you")
if(a<98):
    print("you ho")

you ho

In [24]:
a = int(input("enter your age"))
if a>18:
    print("yes")
else:
    print("no")

yes

In [29]:
a = int(input("enter your age"))
if(a>18 not a<30):
    print("u are young")
else:
    print("teen")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2858851096.py, line 2)

In [34]:
a =[2,6,5,8,9,6,5,25]
print(5 in a)

True

In [3]:
a = int(input("enter value: "))
b = int(input("enter value: "))
c = int(input("enter value: "))
d = int(input("enter value: "))
if(a>b and a>c and a>d):
    print(" a is  greatest")
elif(b>c and b>a and b>d):
    print(" b is greatest")
elif(c>b and a>c and c>d):
    print(" c is greatest")
else:
    print('d is greatest')

 b is greatest

In [17]:
for i in range(2,10,2):
    print(i)

2
4
6
8

a is gratest